
<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title class="display-6 text-center animate__animated animate__fadeInDown">Github Account Info</ion-title>
  </ion-toolbar>
  <div class="m-3">
    <div class="d-flex flex-column align-items-center">
      <img src="{{accountInfo.avatar_url}}" alt="" class="animate__animated animate__fadeIn">
      <h4 class="fw-bolder animate__animated animate__zoomIn mb-0">{{accountInfo.bio}}</h4>
      <p class="fw-bolder animate__animated animate__zoomIn mb-2 mt-2">{{accountInfo.location}}</p>

      <hr>
    </div>
    <form class="container d-flex flex-column">
      <div>
        <label class="form-label">User</label>
        <input class="form-control" type="text" placeholder="{{user}}" disabled>
      </div>
      <div class="mt-1">
        <label class="form-label">Repo</label>
        <input class="form-control" type="text" placeholder="{{repo}}" disabled>
      </div>
    </form>
  </div>
</ion-header>
<ion-content>
  <app-commits-list></app-commits-list>
</ion-content>
<ion-footer>
  <i class="bi bi-github d-flex m-2 justify-content-center animate__animated animate__zoomIn"></i>
</ion-footer>

