.commits-button {
    background: var(--ion-color-primary);
    color:white;
    font-weight:bolder;
}

label {
    font-weight:bolder;
    font-size:14px;
}

i {
    color:white;
    margin-right: 5px;
}

img {
    width: 100px;
    height:100px;
}

hr {
  background: var(--ion-color-primary);
  border: 0 solid var(--ion-color-primary);
  border-radius: 10px;
  width: 13%;
  opacity: 1;
  margin: 0;
}

p {
    color: gray;
    font-size:12px;
    font-style: italic;
}

input {
    height:28px;
}

ion-item {
    --background: var(--ion-color-secondary);
    color:white;
}

.bi-list::before {
    font-weight:bolder !important;
}

.bi-list {
    color: #ff6b00;
    position:absolute; 
    z-index:2;
    top:1vh;
}

ion-title {
    color: white;
}
  

